<template>
    <div>
        <h1>Practitioner</h1>
        <h2>Practitioner info</h2>
        <table class="table" border=1 frame=hsides rules=rows>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Active</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Last Updated</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>{{ practitioner.id}}</td>
                    <td>{{ practitioner.name}}</td>
                    <td>{{ practitioner.isActive}}</td>
                    <td>{{ practitioner.gender}}</td>
                    <td>{{ practitioner.address}}</td>
                    <td>{{ practitioner.lastUpdated}}</td>
                </tr>
            </tbody>
        </table>

        <h2>Monitored Patients</h2>
        <table class="table" border=1 frame=hsides rules=rows>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Last Updated</th>
                    <th>Observations</th>

                </tr>
            </thead>
            <tbody>
                <tr v-for="item in monitored">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name.givenName + " " + item.name.familyName }}</td>
                    <td>{{ item.gender }}</td>
                    <td>{{ item.address.line + " " + item.address.city + " " + item.address.state + " " + item.address.postalCode + " " + item.address.country }}</td>
                    <td>{{ item.lastUpdated }}</td>
                    <td> <table class="table">
                         <tr v-for="chol in item.observations">
                             <td>ID: {{ chol.patientId }}</td>
                             <td>Date: {{ chol.effectiveDateTime }}</td>
                             <td>Cholesterol: {{ chol.totalCholesterol }}</td>
                         </tr>
                         </table></td>
                    <td>
                        <button @click="deleteFromMonitored(item.id)"> Delete </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>List of Patients</h2>
        <table class="table" border=1 frame=hsides rules=rows>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Last Updated</th>

                </tr>
            </thead>
            <tbody>
                <tr v-for="item in patients">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name.givenName + " " + item.name.familyName }}</td>
                    <td>{{ item.gender }}</td>
                    <td>{{ item.address.line + " " + item.address.city + " " + item.address.state + " " + item.address.postalCode + " " + item.address.country }}</td>
                    <td>{{ item.lastUpdated }}</td>
                    <td>
                        <button @click="addToMonitored(item.id)"> Add </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script src="./practitioner.ts"></script>
