<template>
    <div>
        <h1>Practitioner</h1>
        <h2>Practitioner info</h2>
        <table v-for="(val, key) in practitioner" class="table" border=1 frame=hsides rules=rows>
            <tr>
                <th>{{key}}</th>
                <td>{{val}}</td>
            </tr>
        </table>

        <h2>Monitored Patients</h2>

        <h2>List of Patients</h2>
        <table class="table" border=1 frame=hsides rules=rows>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Last Updated</th>

                </tr>
            </thead>
            <tbody>
                <tr v-for="item in patients">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name.givenName + " " + item.name.familyName }}</td>
                    <td>{{ item.gender }}</td>
                    <td>{{ item.address.line + " " + item.address.city + " " + item.address.state + " " + item.address.postalCode + " " + item.address.country }}</td>
                    <td>{{ item.lastUpdated }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script src="./practitioner.ts"></script>
